#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.local
manage_etc_hosts: false

users:
  - name: ${automation_user}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    lock_passwd: true
    ssh-authorized-keys:
      - "${automation_user_pubkey}"

ssh_pwauth: false

chpasswd:
  expire: false
  users:
    - name: root
      password: Welcome123!
      type: text

package_update: true
package_upgrade: true
packages:
  - git
  - curl
  - qemu-guest-agent
  - avahi-daemon

# power_state:
#  mode: reboot
#  message: System restart required
#  timeout: 300
#  condition: true

bootcmd:
  - sed -i 's/^GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX="mitigations=off"/g' /etc/default/grub
  - update-grub
  - systemctl enable avahi-daemon && systemctl start avahi-daemon

%{ if length(launch_script) > 0 ~}
write_files:
  - path: /var/lib/cloud/scripts/per-once/launch_script.sh
    owner: root:root
    permissions: 0o744
    defer: true
    content: |-
      ${indent(6, launch_script)}

%{~ endif ~}
