#cloud-config
autoinstall:
  version: 1

  network:
    version: 2
    ethernets:
      eth0:
        dhcp4: true
        dhcp4-overrides:
          route-metric: 1000
    wifis:
      wlan0:
        access-points:
          "The Internet":
            password: {{ wifi_password }}
            band: 5GHz
        dhcp4: true
        dhcp4-overrides:
          route-metric: 100

  ssh:
    install-server: yes
    authorized-keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG1AiUhgFxPxgvYCP0xzO9T6bY99sapCWuSltrEM7Zc1 ansible

  identity:
    hostname: {{ item.hostname }}
    username: ansible
    password: {{ console_password }}

  storage:
    layout:
      name: lvm

  packages:
    - qemu-kvm
    - libvirt-daemon-system
    - libvirt-clients
    - bridge-utils
    - genisoimage
    - virtinst
    - wpasupplicant

  user-data:
    disable_root: false

  late-commands:
    - echo 'ansible ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/ansible # allow sudo without password
    - curtin in-target --target /target -- sed -ie 's/GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX="net.ifnames=0 biosdevname=0"/' /etc/default/grub
    - curtin in-target --target /target -- update-grub2
