#cloud-config
autoinstall:
  version: 1

  network:
    version: 2
    ethernets:
      eth0:
        dhcp4: true
        dhcp4-overrides:
          route-metric: 1000
    wifis:
      wlan0:
        access-points:
          "{{ wifi_name }}":
            password: {{ wifi_password }}
            band: {{ wifi_band }}
        dhcp4: true
        dhcp4-overrides:
          route-metric: 100

  ssh:
    install-server: yes

  storage:
    layout:
      name: lvm
      sizing-policy: all
      match:
        path: /dev/nvme0n1

  packages:
    - qemu-kvm
    - libvirt-daemon-system
    - libvirt-clients
    - bridge-utils
    - genisoimage
    - wpasupplicant

  user-data:
    hostname: {{ item.hostname }}
    users:
      - name: {{ console_username }}
        passwd: {{ console_password }}
        groups: libvirt, libvirt-qemu, libvirt-dnsmasq
        shell: /bin/bash
        lock_passwd: False
        sudo: ALL=(ALL) NOPASSWD:ALL
        ssh_authorized_keys:
          - "{{ automation_ssh_pubkey }}"

  late-commands:
    - curtin in-target --target /target -- sed -ie 's/GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX="net.ifnames=0 biosdevname=0 mitigations=off"/' /etc/default/grub
    - curtin in-target --target /target -- update-grub2
    - curtin in-target --target /target -- mkdir -p /etc/apparmor.d/abstractions/libvirt-qemu.d
    - echo '/var/lib/libvirt/images/* rwk,' >> /target/etc/apparmor.d/abstractions/libvirt-qemu.d/libvirt-qemu-extras
    - echo '/var/lib/libvirt/machines/* rwk,' >> /target/etc/apparmor.d/abstractions/libvirt-qemu.d/libvirt-qemu-extras
